<!doctype html>
<html ng-app="restaurant">
<head>
  <title>restaurant App</title>
  <script src="lib/angular.js"></script>
  <script src="app.js"></script>
  <script src="js/restaurantsController.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <div class="container" ng-controller="RestaurantsCtrl">
    <div class="row">
      <div class="col-md-12">

        <h1>Best Restaurants in town.</h1>
        <h4>Search restaurants for restaurant, location, type of food or price range.</h4>
        <form class="form-inline" role="form">
          <div class="form-group">
              <input ng-model="query.name" type="text" class="form-control" placeholder="Search by name"><br>
              <input ng-model="query.cuisine" type="text" class="form-control" placeholder="Search by cuisine"><br>
              <label>Show kid frinedly only </label><input ng-model="query.kidFriendly" type="checkbox" class="form-control" ng-true-value="'Kid friendly? YES!'" ng-false-value="" toggle-class="toggle-calm">
              <br>
              <label>Only show restaurants available for takeout </label><input ng-model="query.takeOut" type="checkbox" class="form-control" ng-true-value="'YES There is takeout!'" ng-false-value="" toggle-class="toggle-calm">
          </div>
        </form>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 ng-show="restaurants.length && filtered.length">restaurant List</h2>
            <h2 ng-show="restaurants.length && !filtered.length">No Matches</h2>
            <ul class="list-unstyled">
              <li ng-repeat="item in filtered = (restaurants | filter:query | orderBy:'-name':reverse)">
                  <span ng-click="editing = true" ng-hide="editing">{{item.name}} <a ng-click="deleteRestaurant(item)">Delete</a></span>
                  <ul>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.cuisine}}</span></li>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.address}}</span></li>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.contact}}</span></li>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.priceRange}}</span></li>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.kidFriendly}}</span></li>
                    <li><span ng-click="editing = true" ng-hide="editing">{{item.takeOut}}</span></li>

                  </ul>
                  <span class="form-group" ng-show="editing" ng-submit="editing = false">
                    <form class="form-inline" role="form">
                      <input type="text" class="form-control input-sm" ng-model="item.name" placeholder="name" required>
                      <input type="text" class="form-control input-sm" ng-model="item.cuisine" placeholder="cuisine" required>
                      <input type="text" class="form-control input-sm" ng-model="item.address" placeholder="address" required>
                      <input type="text" class="form-control input-sm" ng-model="item.contact" placeholder="contact" required>
                      <input type="text" class="form-control input-sm" ng-model="item.priceRange" placeholder="priceRange" required>
                      <label>Kid Friendly?<input type="checkbox" ng-model="item.kidFriendly" ng-true-value="'Kid friendly? YES!'"  ng-false-value="'Kid Friendly? NO!!!!!!!!!'" ng-init="kidFriendly='Kid Friendly? NO!!!!!!!!!'">
                        <label>Takeout available? <input type="checkbox" ng-model="item.takeOut" ng-true-value="'YES! There is takeout!'"  ng-false-value="'NO Takeout!!!!!!!!!'" ng-init="takeOut='NO Takeout!!!!!!!!!'"></label>
                      </label>

                      <button class="btn btn-default btn-sm" type="submit">Save</button>
                    </form>
                  </span>
              </li>
            </ul>
        </div>
    </div>
      <div class="col-md-4">
        <h2>Add a new restaurant</h2>
        <form ng-submit="addRestaurant()" class="form-inline" role="form">
          <div class="form-group">
            <input type="text" ng-model="restaurantName" class="form-control" placeholder="Enter name">
            <input type="text" ng-model="restaurantCuisine" class="form-control" placeholder="Enter what it serves">
            <input type="text" ng-model="restaurantAddress" class="form-control" placeholder="Enter address">
            <input type="text" ng-model="restaurantContact" class="form-control" placeholder="Enter website">
            <input type="text" ng-model="restaurantPriceRange" class="form-control" placeholder="Enter Price Range">
            <br>
            <label>Kid Friendly? Click here if yes! <input type="checkbox" ng-model="kidFriendly" ng-true-value="'Kid friendly? YES!'"  ng-false-value="'Kid Friendly? NO!!!!!!!!!'" ng-init="kidFriendly='Kid Friendly? NO!!!!!!!!!'">
              <br>
              <label>Takeout available? <input type="checkbox" ng-model="takeOut" ng-true-value="'YES there is takeout!'"  ng-false-value="'NO takeout!!!!!!!!!'" ng-init="takeOut='NO takeout!!!!!!!!!'"></label>
            </label>

          </div>
          <button name="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
  </div>
</body>
</html>
